{% assign value = selected_value %}

{% if label %}
  <div class="Polaris-Labelled__LabelWrapper">
    <div class="Polaris-Label">
      <label class="Polaris-Label__Text">{{ label }}</label>
    </div>
  </div>
{% endif %}

<div class="color-picker">
  <div class="color-swatch {% if show_input %}with-input{% endif %}" style="background-color: {{ value }}">
    {% if show_input %}
      <input
        type="text"
        value="{{ value }}"
        readonly
        class="Polaris-TextField__Input" />
    {% endif %}
  </div>
</div>