<!--foxify_page_head-->

{{ 'popup.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sabbath-popup.js' | asset_url }}" defer></script>

<div id="popup-container"></div></div>

<!--foxify_page_head-->